<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZcashDemoApp"
        tools:targetApi="31">
        <activity
            android:name=".TransparentBalanceActivity"
            android:exported="false"
            android:label="@string/title_activity_transparent_balance"
            android:theme="@style/Theme.ZcashDemoApp" />
        <activity
            android:name=".TxDetailsActivity"
            android:exported="false"
            android:label="@string/title_tx_details"
            android:theme="@style/Theme.ZcashDemoApp" />
        <activity
            android:name=".EncodingActivity"
            android:exported="false"
            android:label="@string/encoding_activity_label"
            android:theme="@style/Theme.ZcashDemoApp" />
        <activity
            android:name=".SpendingActivity"
            android:exported="false"
            android:label="@string/spending_activity_label"
            android:theme="@style/Theme.ZcashDemoApp" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.ZcashDemoApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ZcashDemoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>